<mat-list>
  <h1 mat-subheader>Vehiculos parqueados</h1>
  <mat-list-item *ngFor = "let data of myData">
    <mat-icon mat-list-icon *ngIf="data.vehiculo.tipoDeVehiculo == 'MOTO'"> motorcycle </mat-icon>
    <mat-icon mat-list-icon *ngIf="data.vehiculo.tipoDeVehiculo == 'CARRO'"> directions_car </mat-icon>
    <h4 mat-line>{{data.vehiculo.placa}}</h4>
    <p mat-line> {{data.fechaDeIngreso.dayOfMonth}}/{{data.fechaDeIngreso.monthValue}}/{{data.fechaDeIngreso.year}} {{data.fechaDeIngreso.hour}}:{{data.fechaDeIngreso.minute}}:{{data.fechaDeIngreso.second}} </p>
    <p mat-line> {{data.vehiculo.cilindraje}} CC</p>
    <button mat-mini-fab>
        <mat-icon class="printshop" align="end" (click)="openRegistrarSalida(data.vehiculo.placa, data.vehiculo.tipoDeVehiculo, data.vehiculo.cilindraje)">local_printshop</mat-icon>
    </button>
  </mat-list-item>

  <div *ngIf="myData == undefined || myData.length == 0">
    <mat-list-item>
      <mat-icon mat-list-icon> warning </mat-icon>
      <h2 mat-line>No se encuentran vehiculos registrados.</h2>
    </mat-list-item>
  </div>
</mat-list>

<button class="agregar-vehiculo" (click)="openRegistrarIngreso()" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>