<h1 mat-dialog-title>Registrar ingreso de vehiculos</h1>
<form>

  <mat-form-field class="input-registro">
    <input class="input-uppercase" [(ngModel)]="placa" required matInput #inputplaca maxlength="9" placeholder="Ingrese la placa del vehiculo" [formControl]="placaFormControl" >    
    <mat-hint align="end">{{inputplaca.value?.length || 0}} / 9</mat-hint>
    <mat-error *ngIf="placaFormControl.hasError('required')">
      La placa es <strong>requerida</strong>
    </mat-error>
    <mat-error *ngIf="placaFormControl.hasError('pattern')">
      Por favor ingrese una placa con el formato <b>AAAA-1234</b>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-registro">
    <mat-select [(ngModel)]="tipoDeVehiculo" required placeholder="Tipo de vehiculo" [formControl]="tipoDeVehiculoFormControl">        
        <mat-option [value]="tipo" *ngFor="let tipo of tiposDeVehiculo">
          {{tipo}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="tipoDeVehiculoFormControl.hasError('required')">
        Porfavor selecciones un <strong>tipo de vehiculo</strong>
    </mat-error>
  </mat-form-field>
  
  <mat-form-field  class="input-registro">
    <input [(ngModel)]="cilindraje" #inputcilindraje required matInput type="number" min="50" max="9999" placeholder="Cilindraje" [formControl]="cilindrajeFormControl">
    <span matSuffix>CC</span>
    <mat-error *ngIf="cilindrajeFormControl.hasError('required')">
        El cilindraje es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="cilindrajeFormControl.hasError('min') || cilindrajeFormControl.hasError('max')">
        Por favor ingrese un cilindraje entre <strong>50</strong> y <strong>9999</strong>
    </mat-error>
  </mat-form-field>
  
</form>

<div class="dialog-button" mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="warn">Cancelar</button>
  <button mat-raised-button class="registrar-vehiculo" (click)="registrarVehiculo()" color="primary" [disabled]="( !placaFormControl.valid || !tipoDeVehiculoFormControl.valid || !cilindrajeFormControl.valid )">Registar Vehiculo</button>
</div>   